
        <div id="colorlib-page">
            <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
            <aside id="colorlib-aside" role="complementary" class="border js-fullheight">
                <!--<h1 id="colorlib-logo"><a href="/"><span>Code</span><span>Verb</span></a></h1>-->
                <a href="/"><div class="brn" style="">Code</div><div style="color:#777;display: inline;" class="brn">verb</div></a>
                <nav id="colorlib-main-menu" role="navigation">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/#work">Work</a></li>
                        <li><a href="/#about">About</a></li>
                        <li><a href="/#services">Services</a></li>
                        <!--<li><a href="/blog">Blog</a></li>-->
                        <li class="colorlib-active"><a href="/contact">Contact</a></li>
                    </ul>
                </nav>

                <div class="colorlib-footer">
                    <p><small><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="icon-code" aria-hidden="true"></i> with <i class="icon-heart" aria-hidden="true"></i> by <a href="/">Team Codeverb</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> <span>Drop a mail: <a href="mailto:enquiry@codeverb.com">enquiry@codeverb.com</a></span></small></p>
                    <ul>
                        <!--                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                                                <li><a href="#"><i class="icon-twitter2"></i></a></li>
                                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                                                <li><a href="#"><i class="icon-linkedin2"></i></a></li>-->
                        <li><a><i class="icon-phone3"></i> +91 9717982528<br></a></li>
                        <li><a><i class="icon-phone3"></i> +91 9711904450</a></li>
                    </ul>
                </div>

            </aside>

            <div id="colorlib-main">

                <div class="colorlib-contact">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="heading-meta">Question or comments? Drinks or coffee? </span>
                                <h2 class="colorlib-heading animate-box" data-animate-effect="fadeInLeft">Get in Touch</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-md-push-6">
                                <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
                                    <div class="colorlib-icon">
                                        <i class="icon-mail"></i>
                                    </div>
                                    <div class="colorlib-text">
                                        <p><a href="mailto:enquiry@codeverb.com">enquiry@codeverb.com</a></p>
                                    </div>
                                </div>

                                <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
                                    <div class="colorlib-icon">
                                        <i class="icon-home-outline"></i>
                                    </div>
                                    <div class="colorlib-text colorlib-text2">
                                        <p>3140, Ram Bazar Marg
                                            Ram Bazar, South Indian Madrasi Colony, Mori Gate
                                            New Delhi, Delhi 110006</p>
                                    </div>
                                </div>

                                <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
                                    <div class="colorlib-icon">
                                        <i class="icon-phone"></i>
                                    </div>
                                    <div class="colorlib-text colorlib-text2">
                                        <p><a href="tel://+91 9717982528">+91 9717982528</a></p>
                                        <p><a href="tel://+91 9711904450">+91 9711904450</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-md-pull-5">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                                        
                                        
                                        <form name="sample_form" action="/contact" method="post" id="sample_form" onsubmit="return submit_form()">
                                            <div class="form-group">
                                                <!--<p>Name*</p>-->
                                                <input type="text" name="fullname" onclick="this.value = ''" class="form-control validate letters-only allow-spaces check-length alertIfCorrect" id="Full-Name" placeholder="Enter Full Name" data-validation-length-min="3">
                                                <div id="Full-Name-message" class="error-message hidden">Please enter your name.</div>
                                            </div>
                                            <div class="form-group">
                                                <!--<p>Email*</p>-->
                                                <input type="email" name="email" onclick="this.value = ''" class="form-control validate check-email" id="email" placeholder="Enter email" onblur="myFunction()">
                                                <!--<span id="amit" class="spn_color"> </span>-->
                                                <div id="email-message" class="error-message hidden">Please enter a valid email</div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Phone (optional)" name="phone">
                                            </div>
                                            <div class="form-group">
                                                <textarea cols="30" rows="7" onclick="this.value = ''" class="form-control validate" id="message" placeholder="Enter your requirements, budget or just Hello" name="message" data-validation-length-min="3" onblur="myFunction()"></textarea>
                                                <!--<span id="amit" class="spn_color"> </span>-->
                                                <div id="message-message" class="error-message hidden">Please enter something</div>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-primary btn-send-message" value="Send Message">
                                            </div>
                                        </form>
                                        
                                        <h4>If your budget is limited then we will adjust the final price according to your needs. So don't fear out the money. </h4>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="map"></div>	
            </div>
        </div>
