<div id="colorlib-page">
  <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
  <aside id="colorlib-aside" role="complementary" class="border js-fullheight">
      <!--<h1 id="colorlib-logo"><a href="/"><span>Code</span><span>Verb</span></a></h1>-->
      <a href="/"><div class="brn" style="">Code</div><div style="color:#777;display: inline;" class="brn">verb</div></a>
      <nav id="colorlib-main-menu" role="navigation">
          <ul>
              <li class="colorlib-active"><a href="/">Home</a></li>
              <li><a href="/#work">Work</a></li>
              <li><a href="/#about">About</a></li>
              <li><a href="/#services">Services</a></li>
              <!--<li><a href="/blog">Blog</a></li>-->
              <li><a href="/contact">Contact</a></li>
          </ul>
      </nav>

      <div class="colorlib-footer">
          <p><small><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="icon-code" aria-hidden="true"></i> with <i class="icon-heart" aria-hidden="true"></i> by <a href="/">Team Codeverb</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> <span>Drop a mail: <a href="mailto:enquiry@codeverb.com">enquiry@codeverb.com</a></span></small></p>
          <ul>
              <!--                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                                      <li><a href="#"><i class="icon-twitter2"></i></a></li>
                                      <li><a href="#"><i class="icon-instagram"></i></a></li>
                                      <li><a href="#"><i class="icon-linkedin2"></i></a></li>-->
              <li><a><i class="icon-phone3"></i> +91 9717982528<br></a></li>
              <li><a><i class="icon-phone3"></i> +91 9711904450</a></li>
          </ul>
      </div>

  </aside>

  <div id="colorlib-main">
      <aside id="colorlib-hero" class="js-fullheight">
          <div class="flexslider js-fullheight">
              <ul class="slides">
                  <!--<li style="background-image: url(images/img_bg_1.jpg);">-->
                  <li style="background-image: url(/assets/images/im2.jpg);">
                      <div class="overlay"></div>
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-md-8 col-md-offset-2 col-md-pull-2 js-fullheight slider-text">
                                  <div class="slider-text-inner">
                                      <div class="desc">
                                          <h1>Web Design & Development</h1>
                                          <h2>Affordable and Premium Class Web Design & Development</h2>
                                          <p><a href="/contact" class="btn btn-primary btn-learn">Learn More<i class="icon-arrow-right3"></i></a></p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </li>
                  
                      <li style="background-image: url(/assets/images/im1.jpg);">
                      <!--<li style="background-image: url(https://sunnet.us/Content/Images/computer-programming-1.jpg);">-->
                      <!--<li style="background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/09/bUcvrRc-1-796x398.jpg);">-->
                      <div class="overlay"></div>
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-md-8 col-md-offset-2 col-md-pull-2 js-fullheight slider-text">
                                  <div class="slider-text-inner">
                                      <div class="desc">
                                          <h1>SEO Services</h1>
                                          <h2>Collection of SEO services that could really affect your business</h2>
                                          <p><a class="btn btn-primary btn-learn">Learn More<i class="icon-arrow-right3"></i></a></p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <!--<li style="background-image: url(images/im1.png);">-->
                  <li style="background-image: url(/assets/images/im3.jpg);">
                      <div class="overlay"></div>
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-md-8 col-md-offset-2 col-md-pull-2 js-fullheight slider-text">
                                  <div class="slider-text-inner">
                                      <div class="desc">
                                          <h1>Android &amp; iOS App Development</h1>
                                          <h2>Development of Fast and light weight Apps</h2>
                                          <p><a class="btn btn-primary btn-learn">Learn More<i class="icon-arrow-right3"></i></a></p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </aside>

      <div class="colorlib-about" id="about">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6">
                      <div class="about-img animate-box" data-animate-effect="fadeInLeft" style="background-image: url(images/img_bg_2.png);">
                          <div class="about-img-2 animate-box" data-animate-effect="fadeInRight" style="background-image: url(/assets/images/img_bg_3.png);"></div>
                      </div>
                  </div>
                  <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                      <div class="about-desc">
                          <span class="heading-meta">Welcome &amp; Introduce</span>
                          <h3>Hello, Welcome to Codeverb!</h3>
                          <p>
                              We are creative thinkers with a focus on modern web production. We use the latest tools available to help build your brand's digital presence.
We are a small team of developers specialized in different skills who passionate about what they do.




                          </p>
                      </div>

                      <div class="fancy-collapse-panel">
                          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingOne">
                                      <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Why choose us?
                                          </a>
                                      </h4>
                                  </div>
                                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                      <div class="panel-body">
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <!--<p></p>-->
                                                  <ul>
                                                      <li>Affordable Price</li>
                                                      <li>Transparency</li>
                                                      <li>Results on Time</li>
                                                      <li>Good listeners</li>
                                                      <li>Super Friendly</li>
                                                      <li>Long Term Support</li>
                                                      <li>After all, Certified Experts</li>
                                                  </ul>
                                              </div>
                                              <div class="col-md-6">
                                                  <p> We believe satisfied and returning customers are the key to grow.</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingTwo">
                                      <h4 class="panel-title">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What We do?
                                          </a>
                                      </h4>
                                  </div>
                                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                      <div class="panel-body">
                                          <p>Our work includes but are not limited to - </p>
                                          <ul>
                                              <li>Web Designing &amp; Development</li>
                                              <li>Application development for Android &amp; iOS</li>
                                              <li>Search Engine Optimization</li>
                                              <li>Graphics Design &amp; Prinitng Solutions</li>
                                              <li>Logo Design, Letterhead Design, B Card Design, and Brochure Design</li>
                                              
                                          </ul>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="colorlib-services" id="services">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6 col-md-offset-3 col-md-pull-3">
                      <span class="heading-meta">Our Services</span>
                      <h2 class="colorlib-heading animate-box" data-animate-effect="fadeInLeft">Web Development</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                          <div class="colorlib-icon">
                              <i class="icon-codepen"></i>
                          </div>
                          <div class="colorlib-text">
                              <h3>Web Design & Development</h3>
                              <p>We can build the best site design that has both professional and personal touch with all the heavy liftings behind the scenes designed for any type of business.</p>
                          </div>
                      </div>

                      <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                          <div class="colorlib-icon">
                              <i class="icon-paper"></i>
                          </div>
                          <div class="colorlib-text">
                              <h3>Landing Pages</h3>
                              <p>We can build attractive custom Landing page for your business / app / video or whatever you want to showcase with latest technologies like HTML5, CSS3, Bootstrap. It makes your Website Mobile friendly, fast loading and search engine friendly.</p>
                          </div>
                      </div>


                  </div>
                  <div class="col-md-6">
                      <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                          <div class="colorlib-icon">
                              <i class="icon-shop"></i>
                          </div>
                          <div class="colorlib-text">
                              <h3>E-Commerce</h3>
                              <p>Now a day online shopping sites plays a vital role in shopping products, any businesses which target promoting should have an E-Commerce site to cart their products.</p>
                          </div>
                      </div>



                      <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                          <div class="colorlib-icon">
                              <i class="icon-help"></i>
                          </div>
                          <div class="colorlib-text">
                              <h3>Updates &amp; Improvement</h3>
                              <p>If you already owns a website that needs improvements or new features or completey refreshed look We are here to serve you.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="colorlib-services">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6 col-md-offset-3 col-md-pull-3">
                      <span class="heading-meta">SEO</span>
                      <h2 class="colorlib-heading animate-box" data-animate-effect="fadeInLeft">Best from Us in SEO</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                          <div class="colorlib-icon">
                              <i class="icon-shop"></i>
                          </div>
                          <div class="colorlib-text">
                              <h3>Local SEO</h3>
                              <p>You could be the biggest shop on Street, but if you don't show up in local searches, you're missing out on a significant amount of clients and sales. It's extremely important to be visible for your industry’s keywords.</p>
                          </div>
                      </div>

                      <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                          <div class="colorlib-icon">
                              <i class="icon-pencil"></i>
                          </div>
                          <div class="colorlib-text">
                              <h3>Content Writing Services</h3>
                              <p>Even when you have a responsive website with a striking design that can impress prospective customers, if the content is of poor quality, then you have nothing but a website that can no longer aid you in your business efforts.</p>
                          </div>
                      </div>


                  </div>
                  <div class="col-md-6">

                      <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                          <div class="colorlib-icon">
                              <i class="icon-device-desktop"></i>
                          </div>
                          <div class="colorlib-text">
                              <h3>Guest Posting</h3>
                              <p>We don’t promise hundreds of posts in a manner of days – we offer limited, exclusively well-written posts on high authority websites, with actual real SEO value. That’s because we believe in quality over quantity.</p>
                          </div>
                      </div>
            

                      <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                          <div class="colorlib-icon">
                              <i class="icon-link"></i>
                          </div>
                          <div class="colorlib-text">
                              <h3>Off-Page SEO</h3>
                              <p>Link Popularity is the most important factor for better ranking on Google and many other search engines. The higher the number of relevant websites linking back to your website, the higher the Link Popularity of your website.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="colorlib-services">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6 col-md-offset-3 col-md-pull-3">
                      <span class="heading-meta">Application Development</span>
                      <h2 class="colorlib-heading animate-box" data-animate-effect="fadeInLeft">Mobile Devices</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                          <div class="colorlib-icon">
                              <i class="icon-android"></i>
                          </div>
                          <div class="colorlib-text">
                              <h3>Android App Development</h3>
                              <p>Android holds the 76% of market share, isn't a good move to have an application on play store that can really affect your busines.</p>
                          </div>
                      </div>
                    
                  </div>
                  
                  
                  <div class="col-md-6">

                      <div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
                          <div class="colorlib-icon">
                              <i class="icon-phone3"></i>
                          </div>
                          <div class="colorlib-text">
                              <h3>iOS App Development</h3>
                              <p>We can build a scalable and lightning fast app for your business that can target iOS users. We can build e-Commerce app at an affordable price for mobile devices that matches your business.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="colorlib-work" id="work">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6 col-md-offset-3 col-md-pull-3">
                      <span class="heading-meta">Portfolio</span>
                      <h2 class="colorlib-heading animate-box" data-animate-effect="fadeInLeft">Recent Work</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                      <div class="project" style="background-image: url(/assets/images/megaan.png);">
                          <div class="desc">
                              <div class="con">
                                  <h3><a href="work">Megaan.in</a></h3>
                                  <span>Website - e-Commerce</span>
                                  <p class="icon">
                                    <span><a href="http://www.megaan.in/" target="_blank"><i class="icon-link"></i> Open</a></span>
<!--                                             <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                      <span><a href="#"><i class="icon-heart"></i> 49</a></span>-->
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                      <div class="project" style="background-image: url(/assets/images/lamiliardo.webp);">
                          <div class="desc">
                              <div class="con">
                                  <h3><a href="work">La Miliardo</a></h3>
                                  <span>Android Application - e-Commerce</span>
                                  <p class="icon">
                                      <span><a href="https://play.google.com/store/apps/details?id=com.eshop.Lamiliardo" target="_blank"><i class="icon-link"></i> Open</a></span>
<!--                                                <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                      <span><a href="#"><i class="icon-heart"></i> 49</a></span>-->
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
<!--                            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                      <div class="project" style="background-image: url(images/work-3.jpg);">
                          <div class="desc">
                              <div class="con">
                                  <h3><a href="work">Work 03</a></h3>
                                  <span>Illustration, Logo</span>
                                  <p class="icon">
                                      <span><a href="www.megaan.in" target="_blank"><i class="icon-link"></i></a></span>
                                      <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                      <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>-->
<!--                            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                      <div class="project" style="background-image: url(images/work-4.jpg);">
                          <div class="desc">
                              <div class="con">
                                  <h3><a href="work">Work 04</a></h3>
                                  <span>Web, Logo, Branding</span>
                                  <p class="icon">
                                      <span><a href="#"><i class="icon-share3"></i></a></span>
                                      <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                      <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>-->
<!--                            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                      <div class="project" style="background-image: url(images/work-5.jpg);">
                          <div class="desc">
                              <div class="con">
                                  <h3><a href="work">Work 05</a></h3>
                                  <span>Illustration, Logo</span>
                                  <p class="icon">
                                      <span><a href="#"><i class="icon-share3"></i></a></span>
                                      <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                      <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>-->
<!--                            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                      <div class="project" style="background-image: url(images/work-6.jpg);">
                          <div class="desc">
                              <div class="con">
                                  <h3><a href="work">Work 06</a></h3>
                                  <span>Web, Logo, Branding</span>
                                  <p class="icon">
                                      <span><a href="#"><i class="icon-share3"></i></a></span>
                                      <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                      <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>-->
              </div>
          </div>
      </div>

<!--                <div class="colorlib-blog">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6 col-md-offset-3 col-md-pull-3">
                      <span class="heading-meta">Portfolio</span>
                      <h2 class="colorlib-heading animate-box" data-animate-effect="fadeInLeft">Recent Works</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                      <div class="blog-entry">
                          <a href="blog" class="blog-img"><img src="images/megaan.png" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
                          <div class="desc">
                              <span>
                                  <small>Feb 07, 2018 </small>
                                  | <small> Website - e-Commerce </small> | </span>
                              <h3><a>Megaan.in</a></h3>
                              <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                              <a href="blog" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                      <div class="blog-entry">
                          <a href="blog" class="blog-img"><img src="images/lamiliardo.webp" class="img-responsive blog-i" alt="HTML5 Bootstrap Template by colorlib.com"></a>
                          <div class="desc">
                              <span><small>Feb 07, 2018 </small> | <small> Web Design </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
                              <h3><a href="blog">Wordpress for a Beginner</a></h3>
                              <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                              <a href="blog" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                      <div class="blog-entry">
                          <a href="blog" class="blog-img"><img src="images/img-3.jpg" class="img-responsive blog-i" alt="HTML5 Bootstrap Template by colorlib.com"></a>
                          <div class="desc">
                              <span><small>Feb 07, 2018 </small> | <small> Inspiration </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
                              <h3><a href="blog">Make website from scratch</a></h3>
                              <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                              <a href="blog" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>-->

      <div id="get-in-touch" class="colorlib-bg-color">
          <div class="colorlib-narrow-content">
              <div class="row">
                  <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                      <h2>Get in Touch!</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                      <p class="colorlib-lead">Question or comments? Drinks or coffee? </p>
                      <p><a href="/contact" class="btn btn-primary btn-learn">Leave us a message!</a></p>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>